.btn-gk,
.btn-goal,
.btn-og,
.btn-card,
.btn-captain {
  height: 42px;
  background: #222;
  border: 1px solid #444;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-captain.is-captain-active {
  background: #ffca28;
  color: black;
}

.btn-gk.is-gk {
  background: #2196f3;
}

.confirm-btn-final {
  width: 100%;
  background: var(--gold);
  color: black;
  padding: 20px;
  border-radius: 15px;
  font-weight: 900;
  border: none;
  margin-top: 30px;
}

/* Espaçamento em volta do botão */
.new-sub-wrapper {
  margin-top: 10px;
  padding: 0 10px;
}

/* O botão de Nova Substituição */
.new-sub-btn {
  width: 100%;
  padding: 8px;
  background-color: #333;
  color: #fff;
  border: 1px solid #d4af37;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

/* Efeito ao passar o mouse */
.new-sub-btn:hover {
  background-color: #d4af37;
  color: #000;
}
