.btn-gk,
.btn-goal,
.btn-og,
.btn-card,
.btn-captain {
  height: 42px;
  background: #222;
  border: 1px solid #444;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-captain.is-captain-active {
  background: #ffca28;
  color: black;
}

.btn-gk.is-gk {
  background: #2196f3;
}

.confirm-btn-final {
  width: 100%;
  background: var(--gold);
  color: black;
  padding: 20px;
  border-radius: 15px;
  font-weight: 900;
  border: none;
  margin-top: 30px;
}
